.live-bidding-chart-wrapper{
  margin: 0 !important;
  padding:0 !important;
  & .live-bidding-chart-container{
    background:unquote("rgb(#{$palette-grey-700})");
    position:relative;
    width: 100%;
    height:5em;
    overflow: hidden;

    & svg#live-bidding-chart-svg{
      visibility: hidden;
    }
  }
}
