.overview-container{
    margin-top:4em;
    max-width:860px;
}
@mixin boxShadow-8dp ($color){
    box-shadow: 0 8px 10px 1px rgba($color, 0.28), 0 6px 14px 2px rgba($color, 0.28), 0 6px 5px -3px rgba($color, 0.28);
}
.overview-biddingNow-container.mdl-card,
.overview-biddingSoon-container.mdl-card,
.overview-biddingChart-container.mdl-card,
.overview-hotLot-container.mdl-card,
.overview-coldLot-container.mdl-card,
.overview-auctionHouse-container.mdl-card {
    background-image: url('../images/mdl-card-bg-two-color.svg'); 
    @include boxShadow-8dp(black);
    width: 360px;
    min-height: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.6em;
    margin-bottom: 1em;
    & .overview-biddingNow-title,
    & .overview-biddingSoon-title,
    & .overview-biddingChart-title,
    & .overview-hotLot-title,
    & .overview-coldLot-title,
    & .overview-auctionHouse-title {
        margin:0;
        padding:0;
        height:100%;
        color: #fff;
        & .mdl-card__title-text{
            font-size: 1em;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0.5em;
        }
    }
    & .overview-biddingNow-title{
        background-image: url('../images/md-bg-5-dark-yellow.svg'); 
    }
    & .overview-biddingSoon-title{
        background-image: url('../images/md-bg-5-dark-blue.svg'); 
    }
    & .overview-biddingChart-title{
        background-image: url('../images/md-bg-5-dark-green.svg'); 
    }
    & .overview-hotLot-title{
        background-image: url('../images/md-bg-5-dark-red.svg'); 
    }
    & .overview-coldLot-title{
        background-image: url('../images/md-bg-5.svg'); 
    }
    & .overview-auctionHouse-title{
        background-image: url('../images/md-bg-5-dark-cyan.svg'); 
    }
    & .overview-biddingNow-text-action-container,
    & .overview-biddingSoon-text-action-container,
    & .overview-biddingChart-text-action-container,
    & .overview-hotLot-text-action-container,
    & .overview-coldLot-text-action-container,
    & .overview-auctionHouse-text-action-container{
        margin:0;
        padding:0;
        height:100%;
        & .overview-biddingNow-text,
        & .overview-biddingSoon-text,
        & .overview-biddingChart-text,
        & .overview-hotLot-text,
        & .overview-coldLot-text,
        & .overview-auctionHouse-text{
            margin:0;
            padding:0;
            height:80%;
        }
        & .overview-biddingNow-action,
        & .overview-biddingSoon-action,
        & .overview-biddingChart-action,
        & .overview-hotLot-action,
        & .overview-coldLot-action,
        & .overview-auctionHouse-action{
            margin:0;
            padding:0;
        }
    }
}
