
@import "src/_include-media";
@import "src/_flex";
@import "src/_mixin-transition";



//---- header-text and serach container
.mdl-layout__header .header-text-search-container{
     visibility:hidden;
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-left: 1em;
     margin-right: 2em;
     z-index:10;
}
.mdl-layout__header .header-text{
     margin-top: 6px;    //-------add this because it always a little bit up, so let it down a little
}
   
.mdl-layout__header .header-text .header-text__title{
    font-size:1.1em;
    font-family: 'Great Vibes', cursive;
    & span{
        position:relative;
        display:inline-block;
    }
}
@include media(">phone","<=tablet") {
  .mdl-layout__header .header-text .header-text__title{
      font-size:1.8em;
  }
}
@include media(">tablet") {
  .mdl-layout__header .header-text .header-text__title{
      font-size:2.2em;
  }
}
.mdl-layout__header .header-text .header-text__content-l-m-screen{
    display:none;

    & span{
        position:relative;
        display:inline-block;
    }
}
@include media(">phone","<=tablet") {
  .mdl-layout__header .header-text .header-text__content-l-m-screen{
      font-size:0.8em;
      display:inline-block;
  }
}
@include media(">tablet") {
  .mdl-layout__header .header-text .header-text__content-l-m-screen{
      font-size:1.2em;
      display:block;
  }
}
.mdl-layout__header .header-text .header-text__content-s-screen{
    font-size:0.4em;
    display:block;
    & span{
           position:relative;
           display:block;
    }
}
@include media(">phone") {
  .mdl-layout__header .header-text .header-text__content-s-screen{
      display:none;
  }
}

//-----below expand search
.mdl-layout__header .mdl-textfield{
  margin-right: 0.5em;
}
.mdl-layout__header .mdl-textfield__expandable-holder{
    background-color:white;
    border-bottom-color: grey;
    border-bottom-width: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
//-----above expand search
.header-text-serach-containe .header-search__container{
    position:relative;
    display: inline-block;
}